@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  font-family: 'Poppins';
  background-color: #2B2B2B;
}

/* MENU */
.navbar {
  background-color: #252525;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
}

.navbar_menu {
  background-color: #252525;
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar_item {
  background-color: #252525;
  position: relative;
}

.navbar_item:not(:first-child) {
  margin-left: 30px;
}

.navbar_item a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.submenu {
  z-index: 99999;
  background-color: #252525;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: calc(100% + 26px);
  max-width: max-content;
  display: flex;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(255,255,255, 0.9);
  transform: translateY(15%);
  opacity: 0;
  pointer-events: none;
  transition: transform .2s, oppacity .3s;
}

.submenu.show {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.submenu img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin-right: 5px;
}

.submenu_itens {
  display: grid;
  padding: 20px;
}

.submenu_item {
  display: flex;
  align-items: center;
  width: max-content;
  transition: background-color 2s;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}

.submenu_item:hover {
  background-color: #eee;
  border-radius: 5px;
}

.submenu_item h4 {
  font-weight: 400;
  color: #fff;
  transition: background-color 2s;
}

.submenu_item h4:hover {
  color: #000;
} 

.submenu_item p {
  font-size: 26px;
  margin-right: 10px;
}

.form {
  padding: 30px 30px 20px;
  box-shadow: 0 5px 10px 0 rgab(0,0,0,0.1);
  border-radius: 5px;
}

.form_input:not(:first-child) {
  margin-top: 30px;
}

.form_input {
  padding: 5px;
  font-size: 16px;
  color: #fff;
}

.form_btn {
  display: block;
  font-size: 16px;
  color: #000;
  border-radius: 5px;
  width: 100%;
  padding: 4px 25px;
  border: none; 
  outline: none;
  margin-top: 30px;
  background-color: #fff;
  cursor: pointer;
}
/* END menu */



/* ABOUT ME  */
.aboutme-inactive {
  visibility: hidden;
}

.aboutme-active {
  display: block;
}

.all-aboutme {
  width: 77.4rem;
  height: 34.8rem;
  margin: auto;
  color: #fff;
  align-content: center;
  justify content: center;
  align-items: center;
}

.aboutme {
  width: 100%;
  height: 90%;
  align-content: center;
  border: solid 1px purple;
  justify-content: bottom;
  background-color: #000;
  border: 1px solid red;
}

.aboutme-buttons {
  width: 40%;
  height: 10%;
  justify-content: top;
  align-items: left;
  margin-bottom: 0;
  display: flex;
}

.aboutme-buttons button {
  width: 33%;
  padding: 1rem;
  align-items: center;
  margin-bottom: 0;
  cursor: pointer;
  background-color: #000;
  border: 1px solid red;
  color: #fff;
  font-weight: 700;
}

.avatar {
  width: 20%;
  height: 100%;
  padding: 1rem;
  align-items: center;
  align-content:center;
  justify-content: center;
  position: relative;
}

.text {
  width: 70%;
  height: 100%;
  padding: 1rem;
  align-items: center;
  align-content:center;
  justify-content: center;
  padding: 6rem;
}

.avatar img {
  border-radius: 50px;
  position: absolute;
  top: 6rem;
  right: 2rem;
}

.text p {
  font-size: 16px;
}

.text h3 {
  font-size: 24px;

}

#lyssa {
  display: flex;
}

#neylson {
  display: flex;
}

#victor {
  display: flex;
}
/* END about me */


/* modal */

#modal{
  display: none;
  position: fixed;
  z-index: 1;
  width: 45%;
  height: 35%;
  border: solid 1px green;
  left: 30%;
  top: 25%;
}

.conteudo_modal{
  background-color: #746cbd;
  border-radius: 5px;
  padding-top: 10%;
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botoes_modal{
  flex-direction: row;
  width: 80%;
  height: 100%;
  padding-top: 10%;  
}
#logOut{
  width: 40%;
  height: 40%;
  border-radius: 5px;
  margin-right: 80px;
}
#cancel{
  width: 40%;
  height: 40%;
  border-radius: 5px;
  border: solid 1px green;
}
/* end modal */