@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  font-family: 'Poppins';
  background-color: #2B2B2B;
}

/* MENU */
#nav {
  background-color: #252525;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
}

.navbar_menu {
  background-color: #252525;
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar_item {
  background-color: #252525;
  position: relative;
}

.navbar_item:not(:first-child) {
    margin-left: 30px;
}

.navbar_item a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.submenu {
  background-color: #252525;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: calc(100% + 26px);
  max-width: max-content;
  display: flex;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(255,255,255, 0.9);
  transform: translateY(15%);
  opacity: 0;
  pointer-events: none;
  transition: transform .2s, oppacity .3s;
}

.submenu.show {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.submenu img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin-right: 5px;
}

.submenu_itens {
  display: grid;
  padding: 20px;
}

.submenu_item {
  display: flex;
  align-items: center;
  width: max-content;
  transition: background-color 2s;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}

.submenu_item:hover {
  background-color: #eee;
  border-radius: 5px;
}

.submenu_item h4 {
  font-weight: 400;
  color: #fff;
  transition: background-color 2s;
}

.submenu_item h4:hover {
  color: #000;
} 

.submenu_item p {
  font-size: 26px;
  margin-right: 10px;
}

.form {
  padding: 30px 30px 20px;
  box-shadow: 0 5px 10px 0 rgab(0,0,0,0.1);
  border-radius: 5px;
}

.form_input:not(:first-child) {
  margin-top: 30px;
}

.form_input {
  padding: 5px;
  font-size: 16px;
  color: #fff;
}

.form_btn {
  display: block;
  font-size: 16px;
  color: #000;
  border-radius: 5px;
  width: 100%;
  padding: 4px 25px;
  border: none; 
  outline: none;
  margin-top: 30px;
  background-color: #fff;
  cursor: pointer;
}

.form_btn:hover {
  background-color: #EF3445;
}

/* END menu */

/* BURGUER */
.wrapper {
  width: 90%;
  margin: 0 auto;
}

.container-burguer {
  float: right;
  height: 25px;
  width: 40px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.menulogo {
  height: 3px;
  width: 30px;
  background-color: #fffafa;
}

.menu-burguer {
  position: absolute;
  width: 50%;
  height: 100vh;
  background-color: #6a5acd;
  padding: 50px;
  transform: translateX(-500px);
  transition: 0.5s;
  z-index: 1;
}

.menu-burguer li {
  list-style-type: none;
  border-bottom: 1px solid rgb(130,170,218);
  padding: 30px 0;
  text-align: center;
}

.showmenu {
  transform: translateX(0);
}

.menu-burguer li:last-child {
  border-bottom: none;
}

.menu-burguer li:first-child a {
  font-weight: bold;
}

.menu-burguer li a {
  color: #fffafa;
  text-decoration: none;
  font-size: 20px;
  transition: font-weight 0.2s;
}

.menu-burguer li a:hover {
  font-weight: bold;
}

@media screen and (min-width: 1000px) {
  .menu-burguer {
    width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .menu-burguer li a {
    font-size: 16px; 
  }
}
/* END BURGUER */

/* CAROUSEL */

.carousel {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  width: 1024px;
  height: 567px;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.4s;
}

.slides {
  width: 5120px;
  display: flex;
}

.images img {
  width: 1024px;
  height: 576px;
}

#atual {
  transition: all 2s;
}

.btn {
  position: absolute;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .4s;
  font-size: 1.7em;
  margin-top: -5px;
}

.btn:hover {
  transform: scale(1.5);
}

#voltar {
  top: 60%;
  left: 7%;
}

#next {
  top: 60%;
  right: 7%;
}

.balls {
  position: absolute;
  width: 1024px;
  display: flex;
  justify-content: center;
  margin-top: -45px;
}

.balls div {
  transition: all .5s;
  border: 3px solid #fff;
  padding: 6px;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

.balls div:hover {
  background-color: #fff;
}

.imgAtual {
  transition: all .5s;
  background-color: #fff;
}

/* END CAROUSEUL */



/* ABOUT ME  */
.aboutme-inactive {
  visibility: hidden;
}

.aboutme-active {
  display: block;
}

.all-aboutme {
  width: 64rem;
  height: 34.8rem;
  margin: auto;
  margin-bottom: 6rem;
  color: #fff;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

.aboutme {
  width: 100%;
  height: 90%;
  align-content: center;
  justify-content: bottom;
  background-color: #000;
  border: none;
  border-radius: 0 5px 5px 5px;
  position: absolute;
  top: 3.4rem;
  
}


.aboutme-buttons {
  width: 40%;
  height: 10%;
  justify-content: top;
  align-items: left;
  margin-bottom: 0;
  display: flex;
  border-radius: 5px 5px 0 0;
  background-color: #000;
}

.aboutme-buttons button {
  width: 33.33%;
  padding: 1rem;
  align-items: center;
  margin-bottom: 0;
  cursor: pointer;
  border: none;
  color: #fff;
  font-weight: 700;
  border-radius: 5px 5px 0 0;
  background-color: #000;
}

.aboutme-buttons button:hover {
  color: #fff;
  background-color: #192555;
}

.aboutme-buttons button:active {
  color: #fff;
  background-color: #192555;
  align-items: center;
}

.avatar {
  width: 30%;
  height: 100%;
  padding: 1rem;
  align-items: center;
  align-content:center;
  justify-content: center;
  position: relative;
}

.text {
  width: 70%;
  height: 100%;
  padding: 2rem;
  justify-content: center;
}

.avatar img {
  border-radius: 50px;
  position: absolute;
  top: 6rem;
  right: 2rem;
  width: 60%;
}

.text p {
  font-size: 16px;
}

.text h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 1rem 0;
}

#lyssa, #neylson, #victor {
  display: flex;
}
/* END about me */


/* modal */

#modal {
  background-color: #192555;
  display: none;
  position: fixed;
  z-index: 1;
  width: 45%;
  height: 35%;
  left: 30%;
  top: 25%;
  display: flex;
  border-radius: 5px;
}

.conteudo_modal {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 4rem 2rem 2rem 2rem;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
}


.h3{
  color: #fff;
}

.botoes_modal{
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100% - 5vh) ;
  align-items: center;
  align-content: space-around;
}

.botoes_modal button {
  display: flex;
  flex-direction: column-reverse;
  width: 10rem;
  height: 2rem;
  margin: 1rem;
  padding: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  align-content: space-around;
  align-items: center;
  justify-content: center;
}

#logOut:hover{
  background-color: #EF3445;
  border: none;  
}

#cancelChange {
  background-color: #fff;
}

#cancel {
  background-color: #7119e4;
}

#cancel:hover {
  background-color: #fff;
  color: #7119e4;
  border: none;
}
/* end modal

/* footer */
footer {
  background-color: #252525;
  width: 100%;
  height: 10%;
  padding: 1rem;
  text-align: center;
}

.footer span {
  text-align: center;
  color: #fff;
}
/* end footer */